.group-2529{
    position: absolute;
    width: 428px;
    height: 540px;
    left: 318px;
    top: 681px;
}

.group-2505{
    position: absolute;
    width: 425px;
    height: 523px;
    left: 318px;
    top: 698px;
}

.group-2528{
    position: absolute;
    width: 425px;
    height: 523px;
    left: 318px;
    top: 698px;
}

.nav{
    position: absolute;
    width: 34px;
    height: 34px;
    left: 709px;
    top: 698px;
}

.color{
    position: absolute;
left: 25%;
right: 25%;
top: 33.33%;
bottom: 35.79%;

background: rgba(0, 0, 0, 0.6);
}

.vect-2{
    position: absolute;
    width: 18px;
    height: 13px;
    left: 719px;
    top: 764px;
    
    background: #01875F;
}