.group-AB{
    position: absolute;
    width: 702.58px;
    height: 79px;
    left: -192px;
    top: -230px; 
}

.rev-per{
    position: absolute;
    width: 225px;
    height: 24px;
    left: 312px;
    top: 569px;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    
    letter-spacing: 0.15px;
    
    color: #000000;
}

.percent{
    position: absolute;
    width: 57px;
    height: 30px;
    left: 547px;
    top: 569px;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */
    
    letter-spacing: 0.15px;
    
    color: #0E7CF4;
}
